main {
  background-color: #f7f7f7;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  border: none;
  cursor: pointer;
}

.area {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2.5rem 5rem;
  display: flex;
  justify-content: space-between;

  &:first-child {
    flex-grow: 1;
  }
}

.display-area {
  white-space: pre-line;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.key {
  background: #e0e0e0;
  border-radius: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d0d0d0;
    transform: scale(1.05);
  }
}

.button-group {
  display: flex;
  flex-direction: column;

  & > button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: lightsalmon;
    text-transform: uppercase;

    &:hover {
      background-color: #ff7f50;
      transform: scale(1.05);
    }

    &.active {
      background-color: #ff7f50;
      color: white;
    }
  }
}
