main {
  background-color: #f7f7f7;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input {
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
}

select {
  font-size: 1.5rem;
}

.area {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;

  &:first-child {
    flex-grow: 1;
  }
}

.display-area {
  white-space: break-spaces;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.75em;
}

.key {
  background: #e0e0e0;
  border-radius: var(--radius-lg);
  padding: 0.5em 1.5em;
  text-align: center;
  font-size: 1.25vw;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d0d0d0;
    transform: scale(1.05);
  }
}

.special-keys {
  display: flex;
  align-items: center;
  gap: 1.5em;

  background-color: var(--violet-50);
  border-radius: var(--radius);
  padding: 0.35em 0.5em;
}

.group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  & > button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-md);
    padding: 0.15em 0.25em;
    font-size: 1rem;
    transition: all 0.2s ease;

    &:hover:not(.active) {
      background-color: var(--zinc-300);
    }
  }
}

.gap-lg {
  gap: 1.5rem;
}

.grow {
  flex-grow: 1;
}

.seperator {
  height: 85%;
  width: 1.5px;
  background-color: var(--violet-500);
  border-radius: var(--radius-md);
}

.active {
  background-color: var(--violet-300);
}


/* form */

.form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form h2 {
  text-align: center;
}

.form .form-group {
  margin-bottom: 15px;
}

.form .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #218838;
}

/*Boutton Log Out .css*/

.logout-button {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 10px 20px;
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-button:hover {
  background-color: #d32f2f; /* Darker red */
}
