main {
  background-color: #f7f7f7;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input,
select {
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.25rem 0.5rem;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;

  &:first-child {
    flex-grow: 1;
  }
}

.display-area {
  white-space: break-spaces;
  height: 100%;

  display: flex;
  gap: 2rem;

  & > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.paper {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 0.75em;
}

.key {
  background: #e0e0e0;
  border-radius: var(--radius-lg);
  padding: 0.5em 1.5em;
  text-align: center;
  font-size: 1.25vw;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d0d0d0;
    transform: scale(1.05);
  }
}

.special-keys {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  background-color: var(--violet-50);
  border-radius: var(--radius);
  padding: 0.35em 0.5em;
}

.group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0.25em;
  row-gap: 0.5em;

  & > button {
    width: 2em;
    height: 2em;
    border-radius: var(--radius);
    padding: 0.15em 0.25em;
    transition: all 0.2s ease;

    &:hover:not(.active) {
      background-color: var(--zinc-300);
    }
  }
}

.seperator {
  height: 85%;
  width: 1.5px;
  background-color: var(--violet-500);
  border-radius: var(--radius-md);
}

.active {
  background-color: var(--violet-300);
}

.active-file {
  border: 2px solid var(--violet-300);
}

.absolute {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.7em;
  padding: 0.25em 0.5em;
  border-radius: var(--radius-xs);

  &:hover {
    background-color: var(--violet-100);
  }
}

.relative {
  position: relative;
}

.topbar {
  position: absolute;
  right: 3rem;
  top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;

  .trigger {
    background-color: var(--violet-100);
    width: 2rem;
    height: 2rem;
    border-radius: var(--radius-full);
    cursor: pointer;

    &:hover {
      background-color: var(--violet-300);
    }
  }

  .popup {
    background-color: var(--zinc-100);
    padding: 0.25em;
    font-size: 0.8rem;
    border-radius: var(--radius-xs);

    display: flex;
    flex-direction: column;
    gap: 0.3em;

    & > * {
      padding: 0.25em 0.5em;
      cursor: pointer;

      &:hover {
        background-color: var(--violet-500);
        color: white;
      }
    }
  }
}
